<div class="move-picture">
        <img class="my-picture" src="http://answering-1253124701.cossh.myqcloud.com/person/images/a1.png">
    </div>
    <div class="move-picture">
        <img class="my-picture-person" src="http://answering-1253124701.cossh.myqcloud.com/person/images/a3.png">
    </div>
    <div class="move-picture">
        <img class="my-picture-person1" src="http://answering-1253124701.cossh.myqcloud.com/person/images/a5.png">
    </div>
    <div>
        <img class="jian" src="http://answering-1253124701.cossh.myqcloud.com/person/images/jian1.png">
    </div>
    
  
    <script src="http://answering-1253124701.cossh.myqcloud.com/person/js/jquery-1.9.1.js"></script>
    <script src="http://answering-1253124701.cossh.myqcloud.com/person/js/bootstrap.min.js"></script>
    <script src="http://answering-1253124701.cossh.myqcloud.com/person/js/main.js"></script>
</body>
</html>