<% include header%>
<!--中间body部分-->
            <div class="row main-body">
                <div class="col-md-1 col-sm-1 col-xs-1 img-left"></div>
                <div class="col-md-10 col-sm-10 col-xs-10 person-content">
                    <div class="head-content">
                        <img src="http://answering-1253124701.cossh.myqcloud.com/person/images/icon.png" class="img-circle head-icon">
                    </div>
                    <div class="person-contact">
                        
                    </div>
                    <div class="person-sign">
                        想要忘记一个人的恩情好像很容易，但要忘记一个人的仇恨，好像就太难了。——古龙
                    </div>
                    <div class="person-body">
                        <div>
                            <div class="my-list main-left">NAME:&nbsp;&nbsp;张建平</div>
                            <div class="my-list main-right">EMAIL:&nbsp;&nbsp;zjp1029@aliyun.com</div>
                        </div>
                        <div>
                            <div class="my-list main-left">TELEPHONE:&nbsp;&nbsp;15366088223</div>
                            <div class="my-list main-right">BIRTHDAY:&nbsp;&nbsp;1994.10.29</div>
                        </div>
                        <div>
                            <div class="my-list main-left">SCHOOL:&nbsp;&nbsp;金陵科技学院</div>
                            <div class="my-list main-right">MAJOR:&nbsp;&nbsp;软件工程</div>
                        </div>
                        <div>
                            <div class="my-list">INTERNSHIP EXPERIENCE:</div>
                            <div class="my-list-item">（1）2016.5——2016.8</div>
                            <div class="my-list-item">苏州兰睿实验技术有限公司</div>
                            <div class="my-list-item">作为JAVA后端开发工程师，负责管理平台的后端代码以及测试内容。</div>
                            <div class="my-list-item">（2）2016.9——2017.5</div>
                            <div class="my-list-item">南京韵奇盈信息技术有限公司</div>
                            <div class="my-list-item">作为JAVA后端开发工程师，负责打印平台的后端代码书写以及微信客户端代码书写；同时负责微信公众平台营运与开大。</div>
                        </div>
                        <div>
                            <div class="my-list">PROFESSIONAL SKILL:</div>
                            <div class="my-list-item list-half main-left">
                               <div class="progress progress-striped active">
                                   <div class="progress-bar progress-bar-danger" style="width:70%">JAVA WEB 70%</div> 
                                </div>
                            </div>
                            <div class="my-list-item list-half main-left">
                               <div class="progress progress-striped active">
                                   <div class="progress-bar progress-bar-danger" style="width:70%">Android 70%</div> 
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="my-list-item list-half main-left">
                               <div class="progress progress-striped active">
                                   <div class="progress-bar progress-bar-danger" style="width:50%">JavaScript && Jquery 50%</div> 
                                </div>
                            </div>
                            <div class="my-list-item list-half main-left">
                               <div class="progress progress-striped active">
                                   <div class="progress-bar progress-bar-danger" style="width:50%">Html && CSS 50%</div> 
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="my-list-item list-half main-left">
                               <div class="progress progress-striped active">
                                   <div class="progress-bar progress-bar-danger" style="width:50%">C && C++ 50%</div> 
                                </div>
                            </div>
                            <div class="my-list-item list-half main-left">
                               <div class="progress progress-striped active">
                                   <div class="progress-bar progress-bar-danger" style="width:60%"> NodeJS 60%</div> 
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="my-list-item list-half main-left">
                               <div class="progress progress-striped active">
                                   <div class="progress-bar progress-bar-danger" style="width:20%">Vue && Angular 20%</div> 
                                </div>
                            </div>
                            <div class="my-list-item list-half main-left">
                               <div class="progress progress-striped active">
                                   <div class="progress-bar progress-bar-danger" style="width:10%"> Ruby 10%</div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 img-right"></div>
            </div>
            
            <!--底部部分-->
            <div class="main-footer">
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12 my-photo" id="photo1">
                        <img class="my-image" src="http://answering-1253124701.cossh.myqcloud.com/person/images/photo1.jpg">
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12 my-photo" id="photo2">
                        <img class="my-image" src="http://answering-1253124701.cossh.myqcloud.com/person/images/photo2.jpg">
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12 my-photo" id="photo3">
                        <img class="my-image" src="http://answering-1253124701.cossh.myqcloud.com/person/images/photo3.jpg">
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12 my-photo" id="photo4">
                        <img class="my-image" src="http://answering-1253124701.cossh.myqcloud.com/person/images/photo4.jpg">
                    </div>
                </div>
                <div class="row number2">
                    <div class="col-md-3 col-sm-12 col-xs-12 my-photo" id="photo5">
                        <img class="my-image" src="http://answering-1253124701.cossh.myqcloud.com/person/images/photo5.jpg">
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12 my-photo" id="photo6">
                        <img class="my-image" src="http://answering-1253124701.cossh.myqcloud.com/person/images/photo6.jpg">
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12 my-photo" id="photo7">
                        <img class="my-image" src="http://answering-1253124701.cossh.myqcloud.com/person/images/photo7.jpg">
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12 my-photo" id="photo8">
                        <img class="my-image" src="http://answering-1253124701.cossh.myqcloud.com/person/images/photo8.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-shade">
    </div>
    <div class="img-box">
       <div class="main-prev">
           <a href="#" title="prev" class="image-prev" id="prev">
               <img src="http://answering-1253124701.cossh.myqcloud.com/person/images/prev.png">
           </a>
       </div>
       <div class="img-content">
           <img class="my-image image-show" src="http://answering-1253124701.cossh.myqcloud.com/person/images/photo8.jpg">
       </div>
       <div class="main-next">
           <a href="#" title="next" class="image-next" id="prev">
               <img src="http://answering-1253124701.cossh.myqcloud.com/person/images/next.png">
           </a>
       </div>
       <div class="main-close">
           <a href="#" title="close" class="image-close" id="close">
               <img src="http://answering-1253124701.cossh.myqcloud.com/person/images/close.png">
           </a>
       </div>
    </div>
<% include footer%>